<div class="toolbar" role="banner">
  <app-navigation [categories]="categories" [activeCategoryId]="categoryId" [theme]="theme"></app-navigation>
</div>
<div class="content" role="main">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-xs-12">
        <app-left-navigation [categories]="categories" [activeCategoryId]="categoryId"></app-left-navigation>
      </div>
      <div class="col-lg-6 col-md-6 col-xs-12">
        <div *ngIf="currentProduct">
          <div class="card">
            <div clas="card-header">
              <h6 style="text-align: center">{{currentProduct.name}}</h6>
            </div>
            <div *ngIf="currentProduct.images && currentProduct.images.low_res">
              <img src="{{currentProduct.images.low_res}}">
            </div>
            <p>{{currentProduct.description}}</p>
            <p>{{getPrice(currentProduct.sizes) | currency}}</p>
            <p>
              <button (click)="addCart()">Order</button>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <app-cart></app-cart>
      </div>
    </div>
  </div>
  <footer>
    <app-footer [theme]="theme"></app-footer>
  </footer>
</div>
