<div *ngIf="currentCategory">
  <div class="card">
    <div class="card-header">
      <h6 style="text-align: center">{{currentCategory.name}}</h6>
      <div class="row" *ngFor="let products of getProducts(currentCategory.products) | pairs">
        <div class="col-lg-6" *ngFor="let product of products" >
          <div class="card">
            <div *ngIf="product.images && product.images.low_res">
              <img src="{{product.images.low_res}}">
            </div>
            <a [routerLink]="['/product', product.id]">{{product.name}}</a>
            <p>{{product.description}}</p>
            <p>{{getPrice(product.sizes) | currency}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
