<div class="card" *ngFor="let category of categories">
  <div class="card-header">
    <h6 style="text-align: center">{{category.name}}</h6>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-lg-4" *ngFor="let product of getProducts(category.products)  | slice:0:3; let i=index" >
        <div class="card">
          <div *ngIf="product.images && product.images.low_res">
            <img src="{{product.images.low_res}}">
          </div>
          <a [routerLink]="['/product', product.id]">{{product.name}}</a>
          <p>{{product.description}}</p>
          <p>{{getPrice(product.sizes) | currency}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
